<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ZenLock</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSFamilyControlsUsageDescription</key>
	<string>ZenLock needs Screen Time access to block distracting apps and help you stay focused.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.grepguru.zenlock</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zenlock</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
